@model IEnumerable<PdfLib.ContentItem>
@{
    ViewData["Title"] = "TableOfContents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>Table Of Contents</h5>

<div class="list-group">
    @foreach (var contentItem in Model)
    {
        <a class="list-group-item list-group-item-action">@contentItem.Title</a>
    }
</div>
