@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h4>Subscriptions</h4> 
    <div class="list-group">        
        <a href="/subscriptions/index?id=1" class="list-group-item list-group-item-action">Personal Injury</a>
        <a href="/subscriptions/index?id=2" class="list-group-item list-group-item-action">Mortgages</a>
    </div>
</div>
