@model List<BLHackWeb.Models.SubscriptionItem>
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h4>Subscriptions</h4> 
    <div class="list-group">
        @foreach (var item in Model)
        {
            <a href="/subscriptions/index?id=@item.Id" class="list-group-item list-group-item-action">@item.Name</a>
        }
    </div>
</div>
